/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.input {
    border: 1px solid black
}

.my-button {
    /*background-color: orangered;*/
    position: absolute;
    left: 0;
    background-image: url("~/pic2.jpg");
    border-radius: 8;
    color: rgb(207, 188, 191);
    font-family: FontAwesome;
    font-size: 24;
    /*vertical-align: left; float: left;*/
    width: 50%;
    height: 20%;
    background-repeat: no-repeat;


}

.my-button:active {
    /*background-color: lightslategray;*/
    background-image: url("~/images/pic2.jpg");
    color: blueviolet;
}